.signup,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin-top: 30px;
}
.signup__form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border: 1px solid black;
  padding: 50px;
  justify-content: space-between;
}
.signup__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup__form img {
  margin-bottom: 20px;
}
.signup__form label {
  font-weight: 600;
  margin-top: 10px;
}
.signup__form input {
  border: none;
  border-bottom: 2px solid black;
  padding: 2px;
  margin: 5px;
  width: 250px;
}
.signup__form input:focus {
  outline: none;
}
.signup__submit {
  background: #000;
  color: #fff;
  padding: 10px !important;
  font-weight: 700;
  margin-top: 30px !important;
}
.signup__submit:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.signup__login {
  text-align: center;
  text-decoration: none;
  color: #000;
}
.signup__login:hover {
  text-decoration: none;
}
@media only screen and (max-width: 1000px) {
  .signup {
    margin-top: 120px;
    margin-bottom: 100px;
  }
}
