.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  background-color: #002f34;
  color: white;
}
.footerBottom__big {
  font-weight: 500;
}
